/* 
   Author: Pascal, Athur & Mickael
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Accueil
0. Connexion
0. Media Queries

******************************************/

/*****************************************
Colors:
    Dark #212529
    White #FFFFFF

Fonts:
    font-family: 'Lobster', cursive;

******************************************/

/******************************/
/*     01. General Styles     */
/******************************/

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 1em;
}

main {
    padding: 2%;
}

/******************************/
/*     0. Connexion           */
/******************************/

main .login-card input{
    margin-bottom: 2%;
}

main .login-card button{
    display: block;
    margin: 0 auto;
}

/******************************/
/*     0. Media Queries       */
/******************************/

/* 01. Genaral Styles *********/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

/* 02. Accueil ****************/
/* 0. Connexion  **************/
@media screen and (min-width: 768px) {
    main .login-card {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    main .login-card {
        width: 40%;
    }
}

@media screen and (min-width: 1440px) {
    main .login-card {
        padding: 5% 0 20% 0;
    }
}