/* 
   Author: Pascal, Athur & Mickael
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Accueil
0. Connexion
0. Media Queries

******************************************/

/*****************************************
Colors:
    Dark #212529
    White #FFFFFF

Fonts:
    font-family: 'Lobster', cursive;

******************************************/

/******************************/
/*     01. General Styles     */
/******************************/

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 1em;
}

main {
    padding: 2%;
}

/******************************/
/*     0. Connexion           */
/******************************/

/******************************/
/*     0. Media Queries      */
/******************************/

/* 01. Genaral Styles *********/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

/* 02. Accueil ****************/