/* 
   Author: Pascal Berry
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Accueil
03. Constructeurs
04. Constructeur
05. Voitures
06. Voiture
07. Créer
08. Media Queries

******************************************/

/*****************************************
Colors:
    Dark #212529
    White #FFFFFF

Fonts:
    font-family: 'Lobster', cursive;

******************************************/

/******************************/
/*     01. General Styles     */
/******************************/

header h1 {
    font-family: 'Monoton', cursive;
    font-size: 1em;
}