{% extends 'base.html.twig' %}

{% block title %}Recettes - Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-centrer">Bienvenue sur un site de recettes pas ouf</h1>
    {% for recette in recettes %}
        <div>
            <h2>{{ recette.nom }}</h2>
            <img src="{{ recette.image }}" alt="{{ recette.nom }}">
        </div>
    {% endfor %}
</div>
{% endblock %}
